<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haerul.foodyrecipe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.haerul.foodyrecipe.view.home.rate_foody_app_activity"></activity>
        <activity android:name="com.haerul.foodyrecipe.view.home.about_app_activity" />
        <activity android:name="com.haerul.foodyrecipe.view.home.developer_info_activity" />
        <activity android:name="com.haerul.foodyrecipe.view.home.HomeActivity" />
        <activity android:name="com.haerul.foodyrecipe.view.home.about" />
        <activity
            android:name="com.haerul.foodyrecipe.SplashScreenActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.haerul.foodyrecipe.view.category.CategoryActivity"
            android:label="Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.haerul.foodyrecipe.view.detail.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
    </application>

</manifest>